body {
  margin: 0;
  font-family: sans-serif;
  background-color: #1a1a1d;
  color: white;
}

.section {
  padding: 20px;
  border-top: 5px solid black;
}

h1, h2 {
  margin: 0 0 10px 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

.subheading {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

li {
  background-color: #2b2b2e;
  padding: 12px 15px;
  margin: 5px 0;
  border-radius: 5px;
  transition: background 0.3s;
}

li a {
  /* color: #ff4e6a; */
  color: #40c9ff;
  text-decoration: none;
  display: block;
}

li:hover {
  background-color: #3b3b3f;
}

.gradient-text {
  background: linear-gradient(270deg, #ff4b2b, #ff416c, #40c9ff, #ffcc70, #f72585, #7209b7);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-gradient 6s ease infinite;
}

@keyframes rainbow-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tools-section {
  padding: 20px;
  background-color: #2b2b2e;
  border-radius: 5px;
  margin-top: 20px;
}

.tools-section h2 {
  font-size: 20px;
}

.copy-box {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  color: #f1f1f1;
  font-family: monospace;
  font-size: 16px;
  overflow-x: auto;
  margin-top: 10px;
  white-space: pre;
}

.copy-btn {
  background-color: #40c9ff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.copy-btn:hover {
  background-color: #3296c3;
}


/* ===== Mobile Adaptation ===== */
@media (max-width: 600px) {
  body {
    font-size: 16px;
    padding: 10px;
  }

  .lang-selector {
    position: static;
    justify-content: center;
    margin: 10px 0;
  }

  .lang-selector button {
    transform: none;
  }

  .section {
    padding: 15px;
  }

  h1 {
    font-size: 22px;
    text-align: center;
  }

  h2 {
    font-size: 18px;
    text-align: center;
  }

  .subheading {
    font-size: 14px;
    text-align: center;
  }

  ul {
    padding: 0;
  }

  li {
    padding: 14px;
    font-size: 16px;
  }

  .tools-section {
    margin-top: 20px;
    padding: 15px;
  }

  .copy-box,
  .offsets-content {
    font-size: 14px;
    padding: 10px;
  }

  .copy-btn {
    width: 100%;
    font-size: 16px;
  }
}
